:root {
    /*colors*/
    --color-text:#fff;
    --color-primaary:#576cbc;
    --color-secondary:#19376d;
    --color-dark:#0b244d;
    --color-bg:#04152d;

    /*fonts*/
    --font-roboto: "Roboto";

    


}